* {
    margin: 0px;
    padding: 0px;
}

/* neader related styles */
body header,
main {
    margin: 50px 140px 120px;
}

/* nav related styles */
.nav {
    height: 743px;
    border-radius: 16px;
    text-align: center;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../B9A1-New-Year-New-Mission-main/resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.nav-title1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 50px;
    font-weight: 400;
    padding: 230px 0px 0px 0px;
}

.nav-title2 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 95px;
    font-weight: 900;
    line-height: 95px;
    padding-top: 20px;
}

.offer {
    width: 1600px;
    height: 733px;
    text-align: center;
    margin: 120px 0px;
}

.offer-h2 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 50px;
}

.offer-h6 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.offer-h4 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.offer-img {
    margin-top: 50px;
}

/* main related styles */
.banner1 {
    height: 723px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../B9A1-New-Year-New-Mission-main/resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    border: opx;
    border-radius: 16px;

}

.banner1-title {
    padding-top: 126px;
    width: 100%;
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.banner1 h1 {
    padding-left: 126px;
}

.banner1-des {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px 20px;
    width: 697px;
    padding-left: 126px;

}

.banner1-button {
    background-color: #07021100;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    margin: 20px 0px 0px 30px;
    padding-left: 126px;


}

.banner1-img {
    width: 390px;
    padding: 90px 0px 0px 240px;
}

/* section2 related styles */
.banner2 {
    margin-top: 120px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    padding-top: 100px
}

.banner2-title1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.banner2-title2 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.banner2-button {
    border-radius: 8px;
    color: #FFF;
    background: #F00;
    padding: 16px 32px;
    border: none;
    margin-top: 48px;
}

/* section3 related styles */
.section3 {
    height: 733px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.section3-part1 {
    width: 520px;
    align-items: center;
}

.section3-part1-sut-titale {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.section3-part1-titale {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding: 20px 0px;
}

.section3-part1-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 500px;
}

.section3-part2 {
    border: 30px solid #F00;
    border-radius: 100%;
    padding: 40px;
    margin-left: -70px;
    align-items: center;


}

.section3-part3 {
    width: 280px;
    align-items: center;

}

.section3-part3-title {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section3-part3-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding: 30px 0px;
}

/* section4 related styles */
.banner3 {
    height: 1000px;
    width: 100%;
}

.banner3-1st {
    text-align: center;
    height: 50px;
}

.banner3-sub-titall {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.banner3-title-1st {
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.banner3-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.banner3-des {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    line-height: 32px;
    width: 830px;
    padding: 0px 0px 0px 355px;

}

.banner3-2nd {
    height: 10px;
}

.banner3-2nd-img1 {
    position: relative;
    z-index: 1;
    top: 270px;
    left: 20px;
}

.banner3-2nd-img2 {
    position: relative;
    z-index: 2;
    left: 210px;
    bottom: 40px;
}

.banner3-2nd-img3 {
    padding-left: 58px;
    position: relative;
    top: 3px;

}

.banner3-2nd-img4 {
    width: 100%;
    position: relative;

}

/* section5 related styles */
.section4 {
    /* width: 1600px; */
    width: 100%;
    height: 100%;
    margin: 120px 0px;
    border: 0px;

}

.section-4-sub-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.section-4-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 20px 0px;


}

.section-4-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    padding-bottom: 20px;
}

.section-4-img {
    width: 500px;
    height: 100%;
    margin: 15px;
    transition: .5s;

}

.section-4-img:hover {
    transform: scale(1.1);
}

/* section6 related styles */
.section5 {
    height: 630px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;

}

.section5-img {
    padding: 80px 0px 40px;

}

.section5-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-bottom: 25px;
}

.section5-des {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 0px 0px 0px 340px;
}


.setion5-email-button {
    width: 648px;
    height: 72px;
    display: flex;
    padding: 50px 0px 0px 0px;
    margin: 0px 0px 0px 470px;
}

.section5-email {
    background: #FFF;
    width: 438px;
    font-size: 30px;
    border: 0px;
    border-radius: 50px 0px 0px 50px;
    padding-left: 30px;

}

.section5-button {
    border: 0px;
    color: #FFF;
    background: #F00;
    width: 210px;
    font-size: 30px;
    text-align: center;
    border: 0px;
    border-radius: 0px 50px 50px 0px;
}

/*footer related styles */
footer {
    height: 500px;
    background: #070211;
    padding: 120px 140px;

}


.section6-part1 {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 50px;
}

.section6-part2 {
    text-align: center;
    padding: 40px 0px;
}

.section6-part2-imgs {
    padding: 0px 25px;
}

.section6-part3 {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-top: 50px;
}